# `Dataframe Manipulation Using: R-Studio`

# <font color= red>Mr Fugu Data Sceicne</font>

# (◕‿◕✿)

# Purpose & Outcome:

+ Subsetting

+ Adding Rows or Columns

+ Sorting & Filtering

+ Find Null Values, Duplicates

+ Use Arrange function and Mutate

In [3]:
library(markdown)
library(knitr)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [12]:
fake_ppl<-read.csv('noIndx.csv')
head(fake_ppl)

  credit_card         email                    first_name  last_name
1 5399-3484-4724-7187 gso@qiegan.sqe           Donyell Ann Ospina
2 1630-5261-6108-7631 xnji@gfruaxqnvm.fha      Bishop      Siyed
3 4435-3866-1076-3595 dvyco@tkzhsop.zxg        Connor      Powers
4 3489-7099-9906-8660 fy@uvfhplatmz.cam        Kylie       Her
5 8631-4500-5666-1510 rztkvliou@dkeinhgysf.deo Anthony     Vo
6 1459-9918-1722-7369 jofmezlbp@iw.evx         Mutammam    Mares
  primary_phone_number
1 5219459148
2 4164254716
3 3627413915
4 3562764561
5 7345795348
6 3247247289

In [15]:
sales_data<-read.csv('online_sales.csv')
head(sales_data)

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

# Slicing Dataframe:
+ `If we want to subset or manipulate our dataframe we need to think of it as 2 dimensions: dataframe[rows,columns].`

In [30]:
typeof(fake_ppl[[2]])
typeof(fake_ppl$email)
typeof(fake_ppl[2])
class(fake_ppl)
typeof(fake_ppl)
class(fake_ppl)

[1] "character"

[1] "character"

[1] "list"

[1] "data.frame"

[1] "list"

[1] "data.frame"

In [34]:
# one row and all columns:
fake_ppl[2,]

  credit_card         email               first_name last_name
2 1630-5261-6108-7631 xnji@gfruaxqnvm.fha Bishop     Siyed
  primary_phone_number
2 4164254716

In [35]:
# take only 1 row and 2 specified columns:
fake_ppl[2,c('first_name',"last_name")]

  first_name last_name
2 Bishop     Siyed

In [252]:
# two ways to get credit_card:
head(fake_ppl[[1]])
head(fake_ppl$credit_card)

[1] "5399-3484-4724-7187" "1630-5261-6108-7631" "4435-3866-1076-3595"
[4] "3489-7099-9906-8660" "8631-4500-5666-1510" "1459-9918-1722-7369"

[1] "5399-3484-4724-7187" "1630-5261-6108-7631" "4435-3866-1076-3595"
[4] "3489-7099-9906-8660" "8631-4500-5666-1510" "1459-9918-1722-7369"

In [244]:
# exclude credit_card column:
head(subset(fake_ppl,select=-credit_card))

  email                    first_name  last_name primary_phone_number
1 gso@qiegan.sqe           Donyell Ann Ospina    5219459148
2 xnji@gfruaxqnvm.fha      Bishop      Siyed     4164254716
3 dvyco@tkzhsop.zxg        Connor      Powers    3627413915
4 fy@uvfhplatmz.cam        Kylie       Her       3562764561
5 rztkvliou@dkeinhgysf.deo Anthony     Vo        7345795348
6 jofmezlbp@iw.evx         Mutammam    Mares     3247247289

In [57]:
# range of rows of first column:

fake_ppl[2:3,1]

[1] "1630-5261-6108-7631" "4435-3866-1076-3595"

In [63]:
# two ways to subset/slice the credit cards again: rows 4:7 of column 1

fake_ppl[4:7,1]
fake_ppl[[1]][4:7]

[1] "3489-7099-9906-8660" "8631-4500-5666-1510" "1459-9918-1722-7369"
[4] "6736-8932-8180-5826"

[1] "3489-7099-9906-8660" "8631-4500-5666-1510" "1459-9918-1722-7369"
[4] "6736-8932-8180-5826"

# Sort , Order , Rank:

+ `Sort`: returns the input as (ascending or descending) order

+ `Order`: the position 'index' of each input (ascending or descending) order

+ `Rank`: Will return the value of how it ranks from low to high or vice versa

https://statisticsglobe.com/sort-order-rank-r-function-example

In [229]:
# Sort:

fun_list<- c(1,5,7,9,33,-4,-1)

sort(fun_list,decreasing = TRUE)

[1] 33  9  7  5  1 -1 -4

In [231]:
# Order:

order(fun_list,decreasing = TRUE)

[1] 5 4 3 2 1 7 6

In [233]:
# Rank: 

rank(fun_list)

[1] 3 4 5 6 7 1 2

# Find `Null Values` & `Duplicates`:

In [93]:
# Total NA values summed
sum(is.na(sales_data))

# Number of NA values by Column
colSums(is.na(sales_data))

# Print Out rows with NA: subset entries 5-10
unique(unlist (lapply (sales_data, function (x) which (is.na (x)))))[5:10]

#Print DF with NA Rows
head(sales_data[!!rowSums(is.na(sales_data)),])

[1] 135080

  InvoiceNo   StockCode Description    Quantity InvoiceDate   UnitPrice
          0           0           0           0           0           0
 CustomerID     Country
     135080           0

[1] 1447 1448 1449 1450 1451 1452

     InvoiceNo StockCode Description                     Quantity
623  536414    22139                                     56
1444 536544    21773     DECORATIVE ROSE BATHROOM BOTTLE  1
1445 536544    21774     DECORATIVE CATS BATHROOM BOTTLE  2
1446 536544    21786     POLKADOT RAIN HAT                4
1447 536544    21787     RAIN PONCHO RETROSPOT            2
1448 536544    21790     VINTAGE SNAP CARDS               9
     InvoiceDate     UnitPrice CustomerID Country
623  12/1/2010 11:52 0.00      NA         United Kingdom
1444 12/1/2010 14:32 2.51      NA         United Kingdom
1445 12/1/2010 14:32 2.51      NA         United Kingdom
1446 12/1/2010 14:32 0.85      NA         United Kingdom
1447 12/1/2010 14:32 1.66      NA         United Kingdom
1448 12/1/2010 14:32 1.66      NA         United Kingdom

In [237]:
# Take Care of NA values: REMOVE
no_naSales<-na.omit(sales_data)

#---------- Compare ------------
# Remove NA:
sum(is.na(no_naSales))

#original Data
sum(is.na(sales_data))

[1] 0

[1] 135080

In [239]:
# Fill NA with other value: This is just 1 way of doing it

m<-sales_data %>% replace_na(list(CustomerID = "unknown"))
sum(is.na(m))

[1] 0

In [97]:
# Find Duplicates:

head(sales_data[duplicated(sales_data),])

    InvoiceNo StockCode Description                       Quantity
518 536409    21866     UNION JACK FLAG LUGGAGE TAG       1
528 536409    22866     HAND WARMER SCOTTY DOG DESIGN     1
538 536409    22900      SET 2 TEA TOWELS I LOVE LONDON   1
540 536409    22111     SCOTTIE DOG HOT WATER BOTTLE      1
556 536412    22327     ROUND SNACK BOXES SET OF 4 SKULLS 1
588 536412    22273     FELTCRAFT DOLL MOLLY              1
    InvoiceDate     UnitPrice CustomerID Country
518 12/1/2010 11:45 1.25      17908      United Kingdom
528 12/1/2010 11:45 2.10      17908      United Kingdom
538 12/1/2010 11:45 2.95      17908      United Kingdom
540 12/1/2010 11:45 4.95      17908      United Kingdom
556 12/1/2010 11:49 2.95      17920      United Kingdom
588 12/1/2010 11:49 2.95      17920      United Kingdom

In [98]:
# Remove Duplicates:

head(sales_data[!duplicated(sales_data),])

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

In [101]:
# Find Unique Values:

head(unique(sales_data))

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

In [103]:
# Same as Unique, but uses the dplyr method of distinct. If there is a duplicate row
# only the first is preserved

head(sales_data %>% distinct())

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

# Filter: `find rows where some condition is TRUE`

In [226]:
# Basic R:
head(filter(fake_ppl,first_name=='Anthony'))

# Dplyr Method:
head(fake_ppl %>% filter(first_name=='Anthony'))

# Can Also, Add other parameters:
head(fake_ppl %>% filter(first_name=='Anthony' & last_name=='Garcia'))


# Using filter to extract last names with specific starting character
head(filter(fake_ppl, grepl("Ga",last_name)))


# https://rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf

  credit_card         email                    first_name last_name
1 8631-4500-5666-1510 rztkvliou@dkeinhgysf.deo Anthony    Vo
2 1280-4584-5250-1133 axthrlcob@kdqvoabtw.nmg  Anthony    Henley
3 6921-1083-1797-8702 xzgefkqlh@nhocyb.qwy     Anthony    Hazelman
4 5725-6056-1230-2423 kj@tr.jdt                Anthony    Garcia
5 8170-8477-1042-3899 rexi@eitlpqv.pce         Anthony    Green
6 9895-2493-1052-5470 rm@fa.yka                Anthony    Colorow
  primary_phone_number
1 7345795348
2 6958349723
3 9315684987
4 7244972846
5 8362748419
6 6813253162

  credit_card         email                    first_name last_name
1 8631-4500-5666-1510 rztkvliou@dkeinhgysf.deo Anthony    Vo
2 1280-4584-5250-1133 axthrlcob@kdqvoabtw.nmg  Anthony    Henley
3 6921-1083-1797-8702 xzgefkqlh@nhocyb.qwy     Anthony    Hazelman
4 5725-6056-1230-2423 kj@tr.jdt                Anthony    Garcia
5 8170-8477-1042-3899 rexi@eitlpqv.pce         Anthony    Green
6 9895-2493-1052-5470 rm@fa.yka                Anthony    Colorow
  primary_phone_number
1 7345795348
2 6958349723
3 9315684987
4 7244972846
5 8362748419
6 6813253162

  credit_card         email     first_name last_name primary_phone_number
1 5725-6056-1230-2423 kj@tr.jdt Anthony    Garcia    7244972846

  credit_card         email                    first_name last_name
1 7332-5925-1286-6862 t@o.etk                  Megana     Garcia
2 3580-5949-4055-7190 xbj@jvgxe.qhr            Dylan      Gashwazra
3 1320-8094-5183-6336 xedyh@ios.csh            Noori      Galbearth
4 9977-6665-6790-9118 fudyevgcrx@lsrxehqmn.rhv Laquasea   Garcia
5 9755-5822-3879-4403 ktsexfv@mxefpivrk.jeu    Corey      Gardner
6 5725-6056-1230-2423 kj@tr.jdt                Anthony    Garcia
  primary_phone_number
1 8961741498
2 2657391284
3 8456758643
4 4623196982
5 9538368157
6 7244972846

# `Arrange` & `Mutate`:

+ `Arrange`: reorder or sort rows by column values

+ `Mutate`: adds new variables such as columns

In [123]:
# Arrange:

head(sales_data  %>% arrange(Country))

  InvoiceNo StockCode Description                        Quantity
1 536389    22941     CHRISTMAS LIGHTS 10 REINDEER        6
2 536389    21622     VINTAGE UNION JACK CUSHION COVER    8
3 536389    21791     VINTAGE HEADS AND TAILS CARD GAME  12
4 536389    35004C    SET OF 3 COLOURED  FLYING DUCKS     6
5 536389    35004G    SET OF 3 GOLD FLYING DUCKS          4
6 536389    85014B    RED RETROSPOT UMBRELLA              6
  InvoiceDate     UnitPrice CustomerID Country
1 12/1/2010 10:03 8.50      12431      Australia
2 12/1/2010 10:03 4.95      12431      Australia
3 12/1/2010 10:03 1.25      12431      Australia
4 12/1/2010 10:03 5.45      12431      Australia
5 12/1/2010 10:03 6.35      12431      Australia
6 12/1/2010 10:03 5.95      12431      Australia

In [118]:
# Mutate: adding a new column called Total_Price

head(sales_data  %>% mutate(Total_Price=Quantity*UnitPrice))

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country        Total_Price
1 12/1/2010 8:26 2.55      17850      United Kingdom 15.30
2 12/1/2010 8:26 3.39      17850      United Kingdom 20.34
3 12/1/2010 8:26 2.75      17850      United Kingdom 22.00
4 12/1/2010 8:26 3.39      17850      United Kingdom 20.34
5 12/1/2010 8:26 3.39      17850      United Kingdom 20.34
6 12/1/2010 8:26 7.65      17850      United Kingdom 15.30

# `Cbind` & `Rbind`: combines by vector, matrix or dataframe

+ `Cbind`: columns

+ `Rbind`: rows

+ The number of rows [vector] will need to be the same length, if not then the shorter one will have repeating values to make up the difference in length

+ Matrices: they must be of same number of columns, or rows and if shorter there will be recyled values.
    + Matrices are restricted to a length of 2^31 rows

https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/cbind

In [140]:
#cbind: add a column total_price

total_price <- c(sales_data$Quantity*sales_data$UnitPrice)

updated_sales<-cbind(sales_data,total_price)
# head(cbind(sales_data,total_price))

In [132]:
# rbind: Add a row to end

vals<- c('1111-1111-1111-1111','MrFugu@funtimes.gov','Mr Fugu','DataScience','9999999999')

tail(rbind(fake_ppl,vals))

     credit_card         email                  first_name      last_name
5822 4796-8595-9965-5748 knzos@jxlrmzk.xml      Lavi            Burd
5823 1264-4045-4294-5090 swuljgompn@rgtxhba.jam Leann           Fang
5824 6316-4730-8906-3877 xfsbe@kr.qbr           Michael         Song
5825 8879-3013-4641-6431 bkmyozdafc@xnosg.pud   Abraham Dejesus Stevens
5826 4360-6727-6740-5933 swkhc@vlme.dfx         Angela          al-Greiss
5827 1111-1111-1111-1111 MrFugu@funtimes.gov    Mr Fugu         DataScience
     primary_phone_number
5822 5266414287
5823 8398676395
5824 9867243254
5825 7597526823
5826 7592516193
5827 9999999999

# Drop a Column:

In [161]:
head(updated_sales)
head(subset(updated_sales,select = -c(total_price)))

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country        total_price
1 12/1/2010 8:26 2.55      17850      United Kingdom 15.30
2 12/1/2010 8:26 3.39      17850      United Kingdom 20.34
3 12/1/2010 8:26 2.75      17850      United Kingdom 22.00
4 12/1/2010 8:26 3.39      17850      United Kingdom 20.34
5 12/1/2010 8:26 3.39      17850      United Kingdom 20.34
6 12/1/2010 8:26 7.65      17850      United Kingdom 15.30

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

# Data.table

In [183]:
total_by_country<-updated_sales[,c('Country','total_price')]
dt<-data.table(total_by_country)
head(dt[,list(Sum=sum(total_price)),by=Country])

  Country        Sum
1 United Kingdom 8187806.36
2 France          197403.90
3 Australia       137077.27
4 Netherlands     284661.54
5 Germany         221698.21
6 Norway           35163.46

# Writing to a file:
+ Write a file as a matrix
+ wirte a file as a vector

`write.csv(sub_meta, file="data/subset_meta.csv")`

or vector form: 

`write(glengths, file="data/genome_lengths.txt", ncolumns=1)`

Also, another option:

`write.table()`


`------------------------------------`

# <font color=red>Like</font>, Share &

# <font color=red>SUB</font>scribe

# Help & Citations:

# ◔̯◔

https://hbctraining.github.io/Intro-to-R/lessons/05_introR-data-wrangling2.html

https://stackoverflow.com/questions/25599139/identifying-rows-in-data-frame-with-only-na-values-in-r

https://www.datanovia.com/en/lessons/identify-and-remove-duplicate-data-in-r/#:~:text=The%20R%20function%20duplicated(),or%20data%20frame%20are%20duplicates.&text=!%20is%20a%20logical%20negation.%20!,don't%20want%20duplicate%20rows

https://stats.stackexchange.com/questions/8225/how-to-summarize-data-by-group-in-r

https://www.listendata.com/2016/10/r-data-table.html

https://stackoverflow.com/questions/24892529/dplyr-package-how-can-i-query-large-data-frame-using-like-xyz-sql-syntax